.DS_Store

*.py

*.md

# Ignore all other clicker games (except spacebar clicker)
/brainrot-clicker/
/burger-clicker/
/candy-clicker/
/candy-clicker-2/
/capybara-clicker/
/capybara-clicker-2/
/case-clicker/
/case-clicker-2/
/chicken-jockey-clicker/
/chill-girl-clicker/
/chill-guy-clicker/
/clicker-counter/
/coin-clicker/
/cookie-clicker/
/cookie-clicker-2/
/cps-test/
/csgo-clicker/
/dog-clicker/
/duck-clicker/
/duck-duck-clicker/
/duck-duck-clicker-3d/
/earth-clicker/
/gs-auto-clicker/
/italian-brainrot-clicker/
/kiwi-clicker/
/labubu-clicker/
/minecraft-clicker/
/money-clicker/
/op-auto-clicker/
/particle-clicker/
/pizza-clicker/
/planet-clicker/
/planet-clicker-2/
/plant-clicker/
/pokemon-clicker/
/roblox-clicker/
/robux-clicker/
/room-clicker/
/santa-clicker/
/sprunki-clicker/
/stimulation-clicker/
/tube-clicker/
/tung-tung-tung-sahur-clicker/
/whopper-clicker/